<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>L1000</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <a href="#" class="logo">L1000</a>
        <ul class="nav-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="menu-toggle">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </nav>

    <section class="about">
      <h1>What is this project about?</h1>
      <p>
        This project aims to deliver a user friendly way to access, and save
        data in a SQL database which stores the L1000 dataset in it. Also we
        hope to get some analysis running delivering several different graphical
        analysis tools for the user.
      </p>
    </section>
    <!-- Create a search Gene input field-->
    <section class="search">
      <form
        action="/genes/search"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
        <input type="text" name="val" placeholder="Search by gene name" />
        <input type="hidden" name="field" value="gene_symbol" />
        <input type="hidden" name="op" value="contains" />
        <input type="hidden" name="limit" value="25" />
        <input type="hidden" name="offset" value="0" />
        <input type="hidden" name="order" value="ASC" />
        <button type="submit">Search</button>
      </form>
      <form
        action="/cells/search"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
        <input type="text" name="val" placeholder="Search by Cell name" />
        <input type="hidden" name="field" value="cell_name" />
        <input type="hidden" name="op" value="contains" />
        <input type="hidden" name="limit" value="25" />
        <input type="hidden" name="offset" value="0" />
        <input type="hidden" name="order" value="ASC" />
        <input type="hidden" name="orderfield" value="cell_name" />
        <button type="submit">Search</button>
      </form>
      <!--Create a pertubations search input field-->
      <form
        action="/perturbations/search"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
        <input type="text" name="val" placeholder="Search by compound name" />
        <input type="hidden" name="field" value="pert_name" />
        <input type="hidden" name="op" value="contains" />
        <input type="hidden" name="limit" value="25" />
        <input type="hidden" name="offset" value="0" />
        <input type="hidden" name="order" value="ASC" />
        <button type="submit">Search</button>
      </form>
    </section>
  </body>
</html>
