<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>L1000</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <a href="#" class="logo">L1000</a>
        <ul class="nav-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="menu-toggle">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </nav>

    <section class="about">
      <h1>What is this project about?</h1>
      <p>
        This project aims to deliver a user friendly way to access, and save
        data in a SQL database which stores the L1000 dataset in it. Also we
        hope to get some analysis running delivering several different graphical
        analysis tools for the user.
      </p>
    </section>
  </body>
</html>
