<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>L1000</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script>
      function updateFieldAndSubmit(column_name) {
        // Get the value from the input field
        const newValue = document.getElementById('val').value;

        // Create the searchArg object (assuming it was initially set)
        let searchArg = {};

        // Get the current JSON string from the hidden input field if it exists
        const searchArgField = document.getElementById('searchArg');
        console.log(searchArgField.value);
        try {
          searchArg = JSON.parse(searchArgField.value) || {};
        } catch (e) {
          console.error('Error parsing searchArg:', e);
        }

        // Update the specific field in the searchArg object
        searchArg.val = newValue;

        searchArg.field = column_name;
        searchArg.op = 'contains';
        searchArg.limit = '25';
        searchArg.offset = '0';
        searchArg.orderfield = column_name;
        searchArg.order = 'ASC';
        searchArg.descendants = [];

        // Serialize the updated searchArg object and set it in the hidden input
        searchArgField.value = JSON.stringify(searchArg);

        // Submit the form
        document.getElementById('searchForm').submit();
      }
    </script>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <a href="#" class="logo">L1000</a>
        <ul class="nav-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="menu-toggle">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </nav>

    <section class="about">
      <h1>What is this project about?</h1>
      <p>
        This project aims to deliver a user friendly way to access, and save
        data in a SQL database which stores the L1000 dataset in it. Also we
        hope to get some analysis running delivering several different graphical
        analysis tools for the user.
      </p>
    </section>
    <form
      id="searchForm"
      action="/siginfo/search"
      method="post"
      enctype="application/x-www-form-urlencoded"
    >
      <!--Hidden input fields for searchArg values-->
      <input type="text" id="val" value="" placeholder="Search a Cell" />
      <input type="hidden" id="searchArg" name="searchArg" />
      <button type="button" onclick="updateFieldAndSubmit('cell_name')">
        Search
      </button>
    </form>
  </body>
</html>
