@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition:
    color 0.3s,
    background-color 0.3s;
}

.nav-links a:hover {
  color: #333;
  background-color: #fff;
  border-radius: 5px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 3px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}

.about {
  width: 20vw;
  background: white;
  padding: 60px 20px;
  margin: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
  font-weight: 700;
}

.about p {
  font-size: 1.1rem;
  margin: 0 auto;
  color: #666;
  line-height: 1.8;
}

.about p::first-letter {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  float: left;
  margin-right: 10px;
  line-height: 1.1;
}
